* {
    margin: 0;
    padding: 0;
}


div.oben{
    background-color:red;
    height: 25%;
    text-align: center;
}

button{
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

    margin-left: 2.5%;
}
